body,
body * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
  transition: all 0.3s;
  font-family: Roboto, sans-serif;
  font-size: 15px;
}

body {
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: #000;
}

input {
  outline: none;
}

button {
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 2px;
}

button:hover {
  opacity: 0.7;
}

.bold {
  font-weight: bold;
}
